.box1{
    width:1000px;
    height:100px;
    background-color:blue;
}

.box2{
    width:800px;
    height:500px;
    background-color:red;
}

.box3{
    width:200px;
    height:500px;
    background-color:black;
}

.wrapper{
    display:flex;
}

.box4{
    width:1000px;
    height:100px;
    background-color:green;
}