.box1{
    width:1000px;
    height:50px;
    background-color:turquoise;
}

.box2{
    width:1000px;
    height:250px;
    background-color:red;
}

.wrapper{
    display:flex;
}

.box3{
    width:600px;
    height:300px;
    background-color:yellow;
}

.box4{
    width:400px;
    height:300px;
    background-color:yellowgreen;
}

.box5{
    width:500px;
    height:50px;
    margin-top:50px;
    margin-left:50px;
    background-color:turquoise;
}

.boxes{
    display:flex;
}

.box6a{
    width:60px;
    height:60px;
    margin-top:50px;
    margin-left:100px;
    background-color:turquoise;
}

.box6b{
    width:60px;
    height:60px;
    margin-top:50px;
    margin-left:20px;
    background-color:turquoise;
}

.box7{
    width:200px;
    height:200px;
    margin-top:50px;
    margin-left:90px;
    background-color:turquoise;
}